<table class="table table-bordered" *ngIf="versions.length > 0; else noData">
    <thead>
      <tr>
        <th>Last Updated</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let version of versions">
        <td>{{ version.lastUpdated | date: 'short' }}</td> <!-- Correct property -->
        <td>
          <button class="btn btn-primary" (click)="downloadVersion(version.versionId)">
            Download
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #noData>
    <p>No version history available for this file.</p>
  </ng-template>
  