<div class="form-container">
    <form action="" #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)" class="form">
        <div>
            <label for="title">title:</label>
            <input type="text" name="title" id="title" ngModel>
        </div>
        <div>
            <label for="description">description:</label>
            <input type="text" name="description" id="description" ngModel>
        </div>
        <div>
            <button type="submit" class="success-btn">Create Event</button>
        </div>
    </form>
</div>