
<div class="form-container">

    <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">title:</label>
            <input id="title" formControlName="title" type="title" />
        </div>

        <div>
            <label for="description">description:</label>
            <input id="description" formControlName="description" type="description" />
        </div>

        <div>
            <button class="success-btn" type="submit" [disabled]="userForm.invalid">Update</button>
        </div>
    </form>

</div>
